<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Doctor</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<head>
    <title>Title</title>
</head>
<h2 th:text="${doctor.name}"></h2>
<h2 th:text="${doctor.surname}"></h2>
<form id="form">
    <input id="button" type="button" onclick="seePatients()" value="See Patients"/>
    <input id="button2" type="button" onclick="addPatient()" value="Add Patient"/>
    <input type="hidden" name="token" th:value="${token}"/>
    <input type="hidden" name="doctor_id" th:value="${doctor.id}"/>
</form>
<script th:inline="javascript">
    function seePatients(){
        var form = document.getElementById("form")
        form.action = "../../doc/" + [[${doctor.id}]] + " /patients"
        form.submit()
    }
    function addPatient(){
        var form = document.getElementById("form")
        form.action = "../../patient/add"
        form.submit()
    }
</script>
<body>

</body>
</html>
