<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Doctor</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<head>
  <title>Laboratory</title>
</head>
<h2 th:text="${laboratory.name}"></h2>>
<form id="form">
  <input id="button" type="button" onclick="regDir()" value="Registrate Direction" />
  <input id="button2" type="button" onclick="seeDir()" value="See Direction" />
  <input type="hidden" name="token" th:value="${token}" />
  <input type="hidden" name="laboratory_id" th:value="${laboratory.id}" />
</form>

<script th:inline="javascript">
    function regDir(){
      var form = document.getElementById('form');
      form.action = "../../direction/regdir"
      form.submit();
    }
    function seeDir(){
      var form = document.getElementById('form');
      form.action = "../../direction/seedir"
      form.submit();
    }
</script>
</script>
<body>

</body>
</html>
